# Ambiente virtual (nunca deve ir para o Git)
venv/
env/

# Caches automáticos do Python
__pycache__/
*.py[cod]

# Configurações locais do editor
.vscode/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Banco de dados local
*.db
*.sqlite3

# PyInstaller / Executáveis
build/
dist/
*.spec